<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container" style="overflow:auto;">

<nav th:replace="fragments :: header('students')"></nav>

<p> Please select the students that you would like to be in charge of: </p>

<table class="table table-striped" >
    <thead>
    <tr>
        <th>Select</th>
        <th>Student Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <form method="post">
        <th:block th:each="student : ${selectableStudents}">
            <tr >
                <td th:if="${student.volunteer}">
                    <div class="form-check float-center">
                        <input type="checkbox" name="selectedStudents" th:value="${student.id}" class="form-check-input" checked>
                    </div>
                </td>
                <td th:unless="${student.volunteer}">
                    <div class="form-group float-center">
                        <input type="checkbox" name="selectedStudents" th:value="${student.id}" class="form-check-input">
                    </div>
                </td>
                <td th:text="${student.nickname} != '' ? ${student.firstName}+' '+${student.lastName}+' ('+${student.nickname}+') ' : ${student.firstName}+' '+${student.lastName}"></td>
                <td th:text="${student.user.userAddress}"></td>
            </tr>
        </th:block>
        <tr>
            <td></td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-success">
                </div>
            </td>
            <td></td>
        </tr>

    </form>
</table>

</body>
</html>