<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header('resources')"></nav>

<p class="my-3"> Here is a list of useful student resources: </p>

<ul>
    <li><a href="http://siue.edu/isss/">ISSS</a> is the SUIe International Student and Scholar Services</li>
    <li><a href="https://stlouis.craigslist.org/d/edwardsville-il-62025/?postal=62025&search_distance=25">Craigslist</a> is a great way to get cheap items. Be sure to read these <a href="https://www.lifewire.com/how-to-buy-and-sell-safely-on-craigslist-2487155">safety tips</a> before you buy anything.</li>
</ul>

</body>
</html>