<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header('actions')"></header>

<p th:unless="${categories} and ${categories.size()}">No Categories</p>
<p><a href="/volunteer/actions/itemCategory/add">Add an Item Category</a></p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Categories</th>
    </tr>
    </thead>
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.getName()}"></td>
    </tr>
</table>

</body>
</html>