<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: studentNav"></nav>

<p> This is where Students select their items </p>

<p ><span class="error" th:text="${errMsg}"></span></p>

<form method="post">
    <th:block th:each="item : ${items}" >
        <div class="form-group">
            <label th:text="'Item #' + ${item.itemPriority} + '  '">        </label>
            <select th:name="itemCategoryArray">

                <option value="0"></option>
                <th:block th:unless="${item.itemCategory}" th:each="itemCategory : ${categories}">
                    <option th:value="${itemCategory.id}"
                            th:text="${itemCategory.name}"></option>
                </th:block>

                <th:block th:if="${item.itemCategory}" th:each="itemCategory : ${categories}">
                    <option th:value="${itemCategory.id}"
                            th:text="${itemCategory.name}"
                            th:selected="(${itemCategory.id}==*{item.itemCategory.id})"></option>
                </th:block>

            </select>
            <p class="error" th:errors="${item.itemCategory}"></p>
        </div>
    </th:block>


    <input type="submit" value="Update" class="btn btn-success">


</form>

<p>If you need to request a special item that does not appear on the list, please email [admin@ihp.com]</p>

</body>
</html>