<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: studentNav"></nav>

<p> This is where Students select their items </p>

<form method="post">

    <th:block th:each="item : ${items}" >
    <div class="form-group">
        <label th:text="'Item ' + ${item.itemPriority} + '  '">        </label>
            <select th:field="${item.itemCategory}">
                <option value="0"></option>
                <option th:each="itemCategory : ${categories}"
                        th:value="${itemCategory.id}"
                        th:text="${itemCategory.name}"></option>
            </select>
        <p class="error" th:errors="${item.itemCategory}"></p>
    </div>
    </th:block>


    <input type="submit" value="Update" class="btn btn-success">


</form>

</body>
</html>