<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container" style="overflow:auto;">

<nav th:replace="fragments :: header"></nav>

<div class="container">
    <p> This is where Students select their items </p>
</div>

<div class="container">
    <form method="post">
        <th:block th:each="item : ${items}" >
            <div class="form-group">
            <span>
                <label th:text="'Item #' + ${item.itemPriority} + '  '"></label>
                <select th:name="itemCategoryArray" class="form-control" style="width:auto;">

                <option value="0"></option>
                <th:block th:unless="${item.itemCategory}" th:each="itemCategory : ${categories}">
                    <option th:value="${itemCategory.id}"
                            th:text="${itemCategory.name}"></option>
                </th:block>

                <th:block th:if="${item.itemCategory}" th:each="itemCategory : ${categories}">
                    <option th:value="${itemCategory.id}"
                            th:text="${itemCategory.name}"
                            th:selected="(${itemCategory.id}==*{item.itemCategory.id})"></option>
                </th:block>
                </select>
            </span>
                <p class="error" th:errors="${item.itemCategory}"></p>
            </div>
        </th:block>
        <input type="submit" value="Update" class="btn btn-success">
    </form>
</div>

<div class="container">
    <p><span class="error" th:text="${errMsg}"></span></p>
</div>

<div class="container">
    <p>If you need to request a special item that does not appear on the list, please email [admin@ihp.com]</p>
</div>

</body>
</html>