<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header('items')"></nav>

<p class="my-3"> View the status of your requested items. </p>
<p class="my-3"> <a href="/student/items/edit">Edit Selected Items</a> </p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Priority</th>
        <th>Item</th>
        <th>Status</th>
    </tr>
    </thead>

    <th:block th:each="item : ${items}">
        <tr>
            <td th:text="'Item #' + ${item.itemPriority}"></td>
            <td th:text="${item.itemCategory.name}"></td>
            <td th:text="${item.itemStatus}"></td>
        </tr>
    </th:block>
</table>

<p class="my-3" th:unless="${items} and ${items.size()}">You have not selected any items. Click <a href="/student/items/edit">here</a> to start the process.</p>

</body>
</html>