<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container" style="overflow:auto;">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:value="${user.id}" name="id">
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
            <th>New Value</th>
        </tr>
        </thead>
        <tr>
            <td>Username</td>
            <td th:text="${user.username}"></td>
            <td></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${user.userAddress}"></td>
            <td><input th:field="${user.userAddress}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td th:text="${user.userPhone}"></td>
            <td> <input th:field="${user.userPhone}" class="form-controls"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${volunteer.firstName}"></td>
            <td><input th:field="${volunteer.firstName}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${volunteer.lastName}"></td>
            <td><input th:field="${volunteer.lastName}" class="form-controls"></td>
        </tr>

    </table>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success">
    </div>
</form>

</body>
</html>