<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container" style="overflow:auto;">

<header th:replace="fragments :: header"></header>

<p> This is where Volunteers view their profile </p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Field</th>
        <th>Value
            <a href="/volunteer/profile/edit" >Edit</a>
        </th>
    </tr>
    </thead>
    <tr>
        <td>Address</td>
        <td th:text="${user.userAddress}"></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td th:text="${user.userPhone}"></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td th:text="${volunteer.firstName}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td th:text="${volunteer.lastName}"></td>
    </tr>
</table>


</body>
</html>