<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>
        <form method="post">
            <div class="form-group">
                <label>Username (Personal email)
                    <input class="form-control" th:field="${registrationDTO.username}"/>
                </label>
                <p class="error" th:errors="${registrationDTO.username}"></p>
            </div>
            <div class="form-group">
                <label>Address
                    <input class="form-control" th:field="${registrationDTO.userAddress}" />
                </label>
                <p class="error" th:errors="${registrationDTO.userAddress}"></p>
            </div>
            <div class="form-group">
                <label>Phone
                    <input class="form-control" th:field="${registrationDTO.userPhone}" />
                </label>
                <p class="error" th:errors="${registrationDTO.userPhone}"></p>
            </div>
            <div class="form-group">
                <label>Password
                    <input class="form-control" th:field="${registrationDTO.password}" type="password"/>
                </label>
                <p class="error" th:errors="${registrationDTO.password}"></p>
            </div>
            <div class="form-group">
                <label>Verify Password
                    <input class="form-control" th:field="${registrationDTO.verifyPassword}" type="password" />
                </label>
            </div>

            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
</body>
</html>