<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: adminNav"></nav>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:value="${user.id}" name="id">
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
            <th>New Value</th>
        </tr>
        </thead>
        <tr>
            <td>Username</td>
            <td th:text="${user.username}"></td>
            <td></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${user.userAddress}"></td>
            <td><input th:field="${user.userAddress}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td th:text="${user.userPhone}"></td>
            <td> <input th:field="${user.userPhone}" class="form-controls"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}"></td>
            <td><input th:field="${user.firstName}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}"></td>
            <td><input th:field="${user.lastName}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td th:text="${user.nickname}"></td>
            <td><input th:field="${user.nickname}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Personal Email</td>
            <td th:text="${user.personalEmail}"></td>
            <td><input th:field="${user.personalEmail}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Country</td>
            <td th:text="${user.country}"></td>
            <td><input th:field="${user.country}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td th:text="${user.gender}"></td>
            <td><input th:field="${user.gender}" class="form-controls"></td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td th:text="${user.maritalStatus}"></td>
            <td><input th:field="${user.maritalStatus}" class="form-controls"></td>
        </tr>

    </table>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success">
    </div>
</form>

</body>
</html>