<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: adminNav"></nav>

<p th:unless="${itemCategories} and ${itemCategories.size()}">No Categories</p>
<p><a href="/admin/actions/itemCategory/add">Add an Item Category</a></p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Categories</th>
    </tr>
    </thead>
    <tr th:each="cat : ${categories}">
        <td><a th:text="${cat.getName()}" th:href="@{/events/?categoryId={id}(id=${cat.id})}"></a></td>
    </tr>
</table>

</body>
</html>