<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>IHP Student Donations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/actions.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>

<nav th:fragment="header (page)" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">IHP Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <th:block th:if="${isStudent}">
                <a class="nav-item nav-link" href="/student/items" th:classappend="${#strings.equals(page,'items')} ? active : ''">Item Status</a>
                <a class="nav-item nav-link" href="/student/resources" th:classappend="${#strings.equals(page,'resources')} ? active : ''">Resources</a>
            </th:block>
            <th:block th:if="${isVolunteer} or ${isAdmin}">
                <a class="nav-item nav-link" href="/volunteer/students" th:classappend="${#strings.equals(page,'students')} ? active : ''">My Students</a>
                <a class="nav-item nav-link" href="/volunteer/requests" th:classappend="${#strings.equals(page,'requests')} ? active : ''">Requests</a>
                <a class="nav-item nav-link" href="/volunteer/actions" th:if="${isAdmin}" th:classappend="${#strings.equals(page,'actions')} ? active : ''">Admin Actions</a>
            </th:block>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/volunteer/profile" th:if="${isVolunteer} or ${isAdmin}" th:classappend="${#strings.equals(page,'profile')} ? active : ''">Profile</a>
            <a class="nav-item nav-link" href="/student/profile" th:if="${isStudent}" th:classappend="${#strings.equals(page,'profile')} ? active : ''">Profile</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

</body>
</html>