<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>IHP Student Donations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/javascript/actions.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>

<div th:fragment="header">
    <h1 th:text="${title}">No Title</h1>
    <nav>
        <ul class="nav tone1">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/donate">Donations</a></li>
            <li class="nav-item"><a class="nav-link" href="/login" th:unless="${isLoggedIn}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" th:if="${isLoggedIn}">Logout</a></li>
        </ul>
    </nav>

    <nav th:if="${isStudent}">
        <ul class="nav tone2">
            <li class="nav-item"><a class="nav-link" href="/student/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/student/items">Item Status</a></li>
            <li class="nav-item"><a class="nav-link" href="/student/settings">Settings</a></li>
        </ul>
    </nav>

    <nav th:if="${isAdmin} or ${isVolunteer}">
        <ul class="nav tone2">
            <li class="nav-item"><a class="nav-link" href="/volunteer/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteer/students">My Students</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteer/requests">Requests</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteer/actions" th:if="${isAdmin}">Admin Actions</a></li>
        </ul>
    </nav>
</div>

</body>
</html>