<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container" >

<nav th:replace="fragments :: header"></nav>

<p> Here is where donors can fill out a form to donate items </p>

<table  style="display: none">

</table>

<form method="post">

    <table class="table">
        <tbody>

        <tr>
            <td>
                <label>Donor name
                    <input class="form-control" th:field="*{donationBatch.donorName}">
                </label>
            </td>
            <td>
                <label>Email
                    <input class="form-control" th:field="*{donationBatch.donorEmail}">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone #
                    <input class="form-control" th:field="*{donationBatch.donorPhone}">
                </label>
            </td>
            <td>
                <label>Address of items
                    <input class="form-control" th:field="*{donationBatch.donorAddress}">
                </label>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-striped" >
        <tbody id="itemsTable">
        <tr id="item">
            <td width="3%">
                <label>1</label>
            </td>
            <td>
                <label id="itemLabel">Item Type
                    <select name="itemCategoryArray">
                        <option value="0"></option>
                        <th:block th:each="itemCategory : ${categories}">
                            <option th:value="${itemCategory.id}"
                                    th:text="${itemCategory.name}"></option>
                        </th:block>
                    </select>
                </label>
            </td>
            <td>
                <label>Description
                    <input class="form-control" name="itemDescriptionArray" type="text">
                </label>
            </td>
        </tr>
        </tbody>
        <tr>
            <td>

            </td>
            <td>
                <button onclick="addDonationItem()" class="btn btn-primary" type="button">Add Item</button>
            </td>
            <td>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </td>
        </tr>

    </table>
</form>

</body>
</html>