<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>IHP Donations</h1>

<p class="my-3">Success! Thank you for your donation!</p>
<p class="my-3">We will contact you as soon as we can to set up a pick-up time.</p>
<p class="my-3">If you would like to return to the home page, click <a href="/">here</a>.</p>
<p class="my-3">If you would like to submit another donation, click <a href="/donate">here</a>.</p>

</body>
</html>