.error {
color:red
}

.tone1 {
background-color: rgba(0,0,0,.05);
}

.tone2 {
background-color: #ffd4d4;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.overflow-xy {
    overflow-x: scroll;
    overflow-y: scroll;
}

th, td { white-space: nowrap }

.floatLeft { width: 48%; float: left; }
.floatRight {width: 48%; float: right; }
.float-right { float: right; }
.float-center { float: center; }

.container { overflow: hidden; }

.table-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.table-tricolor>tbody>tr:nth-child(4n+1)>td {
   background-color: rgba(0,0,0,.05);
 }

 .table-tricolor-info>tbody>tr:nth-child(even)>td {
    background-color: #6ed48b;
  }

tr[data-student$="group-stripe"] {
     background-color: rgba(0,0,0,.05);
}

tr[data-batch="group-stripe"] {
     background-color: rgba(0,0,0,.05);
}

.plain-cell {
   background-color: rgba(0,0,0,0);
}

.student-info {
    display:none;
}

.donor-info {
    display:none;
}

.pre-format {
    white-space: pre;
}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h2 span {
    background:#fff;
    padding:0 10px;
}

.items-center {
    align-items: center;

}

html {
  overflow-y: scroll;
}

.navbar-collapse>div:first-child{
    border-left: 2px solid #ffffff
}